@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  background: black;
}

.nav-link {
  margin: 0px 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
}
.nav-link:hover {
  color: #FF850B;
}

.navbar-brand {
  color: #FF850B;
}

.search-container{
  margin: 0px 25px 0px 500px;
}


.user-login-button {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background: #FF850B ;
    border: none;
    position: relative;
    outline: none !important;
    font-size: 20px;
    padding: 5px 15px 5px 15px;
    line-height: 24px;
    border-radius: 4px;
    margin: 0px 5px;
}


.carouselslide{
  width: 100%;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translate(-50%, -50%);
  animation: slider 7s infinite linear;
}



.carousel-button{
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev{
  left: 2%;
}

.carousel-button.next{
  right: 2%;
}
